*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #001233;
}

.card{
    background: #33415C;
    border-radius: 20px;
    max-width:min-content;
    min-width: 340px;

    display: flex;
    flex-wrap: wrap;

    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    top: 100px;
    box-shadow: 0 0 5px 5px rgba(27,178,180,1);
}

.card-image{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    width: 300px;
    border-radius: 20px;
}

.card-view-image{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 126px;
    margin-top: 20px;
    opacity: 0;
    border-radius: 20px;

    transition: 0.2s ease-in-out;
}

.card-view-image:hover{
    background: rgba(27, 178, 180, 0.4);
    opacity: 100;
    
}

.card-title{
    color: white;
    margin-left: 20px;
    font-size: 25px;
}

.card-title:hover{
    color: aqua;
}

.card-text{
    margin-left: 20px;
    color: #979DAC;
}

.card-info{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    flex: 1;
}

.price{
    display: flex;
}

.card-eth{
    height: 18px;
    margin-top: 4px;
}

.card-price{
    color: aqua;
    margin-left: 5px;
    margin-top: 0px;
}

.card-time{
    display: flex;
}

.card-clock{
    width: 17px;
    height: 17px;
    margin-top: 2px;
}

.card-days{
    margin-top: 0px;
    margin-left: 5px;
    color: #979DAC;
    font-size: 15px;
    font-weight: 650;
}

.card-line{
    border: 1px #5C677D solid;
    width: 310px;

    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    margin-bottom: 20px;
}

.card-user{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 10px;

    transition: all 0.2s;
}

.card-profile{
    width: 50px;
    border-radius: 50%;
    border: white 1px solid;
}

.card-creator{
    color: #979DAC;
    font-size: 15px;  
}

.card-creator a{
    text-decoration: none;
}

.card-creator b{
    color: white;
}

.card-creator b:hover{
    color: aqua;
}