* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #001233;
}
h1{
    color: white;
}

.topbar{
    background: #002855;
    height: 15%;
    border-radius: 0 0 30px 30px;
    min-width: 800px;

    display: flex;
    gap: 10px;
    justify-content: space-evenly;

    margin-left: 5%;
    margin-right: 5%;
}

.item{
    background-color: #023E7D;
    box-shadow: 0 0 2px 2px #0353A4;
    border-radius: 10px ;

    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.1s ease-in-out;

}

.item:hover{
    transform: scale(1.15);
}

.topbar h1{
    display: flex;
    align-self: center;
}

a{
    text-decoration: none;
}

.content{
    background: #002855;
    box-shadow: 0 0 2px 2px #0353A4;
    height: 500px;
    width: 70%;
    border-radius: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;

    display: flex;
}

.profile-top{
    background: #023E7D;
    box-shadow: 0 0 2px 2px #0353A4;
    width: fit-content;
    min-width: fit-content;
    height: fit-content;
    border-radius: 30px;

    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 400px;
}

.profile-picture{
    box-shadow: 0 0 5px 5px #0353A4;
    opacity: 90%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-picture:hover{
    transform: scale(1.3);
}

.profile-name{
    margin-left: 10px;
}

.profile-top h1{
    font-size: 25px;
    width: fit-content;
    height: fit-content;
}

.profile-top h3{
    color: white;
    opacity: 50%;
    font-size: 15px;
    margin-top: 10px;
}

.profile-info{
    background:#023E7D ;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 500px;
    margin-left: 20px;
    margin-bottom: 200px;
    padding: 20px;

}
